body {
	padding-top:60px;
	padding-bottom:40px;
}
textarea {
	resize:none;
}
#postcard{
   border:solid;
   border-width: thin;
}
#postcard .postcard-content {
	position:relative;
	overflow-y:hidden;
	overflow-x:hidden;
}
#postcard-captions {
	display:none;
	position:absolute;
	padding-left:10px;
	top:0;
	left:0;
	background:rgba(255,255,255,1.0);
	width:100%;
	height:100%;
	color:black !important;
}
#postcard-inside {
	font-size:24.5px;
	line-height:40px;
	font-weight:bold;
	height:100%;
}

#postcard-msg{
    padding-top: 20px;
    padding-left: 10px;
}

#stamp{
    padding-top: 20px;
    width: 250px;
    padding-left: 70px;
}

#poem{
    font-size: 20px;
    font-weight: none;
    line-height: 28px;
    padding-top: 60px;
    padding-left: 70px;
    font-family:cursive;
    width: 100%;
    color: darkgreen;
}
#postcard-right{
    margin: 0px;
}

.align-right {
    float: right;
}
