body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: transparent;
}
#index h2 {
    color: #003299;
}

.index-icon {
    margin-left: 25px;
    margin-right: 25px;
}

#index {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    height: 100%;
}

.center-row {
    display: table;
    position: relative;
    top: 35%;
    margin: 0 auto;
}

.index-line {
    width: 50%;
    position: relative;
    display: table;
    margin: 0 auto;
}

/* Animation */
.planet-icon {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 5s linear 0s infinite alternate;
}

/*Back of characterse */
.charBack {
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:0px;}
50%  {top:80px;}
100% {top:0px;}
}

.ideas-icon {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 5s linear 2s infinite alternate;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:0px;}
50%  {top:30px;}
100% {top:0px;}
}

.hello-icon {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 5s linear 5s infinite alternate;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:0px;}
50%  {top:30px;}
100% {top:0px;}
}

.toast-icon {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 5s linear 3s infinite alternate;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:0px;}
50%  {top:40px;}
100% {top:0px;}
}

.postcard-icon {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 5s linear 1s infinite alternate;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:0px;}
50%  {top:60px;}
100% {top:0px;}
}